<h1>Private page</h1>

<a href="/">Home</a>

<img src="https://c.tenor.com/EnRojaH2AH4AAAAS/confused-meme.gif" width= '300' alt="">
<img src="https://c.tenor.com/b6HaO35_yV0AAAAS/fml-merry-go-round.gif" alt="">